 ul {
	list-style: disc inside;
	padding: 0;
	margin: 0
}
 
 
pre {
	word-wrap: break-word
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap
}

.cntr {
	margin: 0 auto;
	border-radius: 3px solid #D0CBCB;
}

.cntr:before,
.cntr:after {
	content: ' ';
	display: table
}

.cntr:after {
	clear: both
}

.cntr {
	max-width: 1000px
}

.clr {
	clear: both
}

.flf {
	float: left
}

.fri {
	float: right
}

.bdr {
	border: 1px solid #ddd
}

.bld {
	font-weight: bold
}

.itl {
	font-style: italic
}

.nbld {
	font-weight: normal
}

.prl {
	position: relative
}

.dbl {
	display: block
}

.dib {
	display: inline-block
}

.dta {
	display: table
}

.hide {
	display: none
}

.m5 {
	margin: 5px
}

.m10 {
	margin: 10px
}

.m15 {
	margin: 15px
}

.m20 {
	margin: 20px
}

.mt5 {
	margin-top: 5px
}

.mr5 {
	margin-right: 5px
}

.mb5 {
	margin-bottom: 5px
}

.ml5 {
	margin-left: 5px
}

.mt10 {
	margin-top: 10px
}

.mr10 {
	margin-right: 10px
}

.mb10 {
	margin-bottom: 10px
}

.ml10 {
	margin-left: 10px
}

.mt15 {
	margin-top: 15px
}

.mr15 {
	margin-right: 15px
}

.mb15 {
	margin-bottom: 15px
}

.ml15 {
	margin-left: 15px
}

.mt20 {
	background: url(../public/img/wzg7B42.png);
	background-size:cover ;
	margin-top: 20px
}

.mr20 {
	margin-right: 20px
}

.mb20 {
	margin-bottom: 20px
}

.ml20 {
	margin-left: 20px
}

.mb30 {
	margin-bottom: 30px
}

.tac {
	text-align: center
}

.tar {
	text-align: right
}

.fs08 {
	font-size: .85rem
}

.fs09 {
	font-size: .9rem
}

.fs1 {
	font-size: 1rem
}

.fs15 {
	font-size: 1.5rem
}

.fcc4 {
	color: #c40000
}

.btg {
	border: solid 1px #ccc;
	border-radius: 3px;
	line-height: 24px;
	padding: 0 7px;
	color: #555;
	background: #eaeaea;
	background: -moz-linear-gradient(top, #fff 0, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #eee));
	background: -webkit-linear-gradient(top, #fff 0, #eee 100%);
	background: -o-linear-gradient(top, #fff 0, #eee 100%);
	background: -ms-linear-gradient(top, #fff 0, #eee 100%);
	background: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0)
}

.btg:hover {
	color: #333;
	box-shadow: 0 1px 2px #ccc;
	background: #ddd;
	background: -moz-linear-gradient(top, #fff 0, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #ddd));
	background: -webkit-linear-gradient(top, #fff 0, #ddd 100%);
	background: -o-linear-gradient(top, #fff 0, #ddd 100%);
	background: -ms-linear-gradient(top, #fff 0, #ddd 100%);
	background: linear-gradient(to bottom, #fff 0, #ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0)
}

.btr {
	border: solid 1px #c40022;
	border-radius: 3px;
	line-height: 24px;
	padding: 0 7px;
	color: #fff;
	background: #ddd;
	background: -moz-linear-gradient(top, #f40022 0, #c40022 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f40022), color-stop(100%, #c40022));
	background: -webkit-linear-gradient(top, #f40022 0, #c40022 100%);
	background: -o-linear-gradient(top, #f40022 0, #c40022 100%);
	background: -ms-linear-gradient(top, #f40022 0, #c40022 100%);
	background: linear-gradient(to bottom, #f40022 0, #c40022 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40022', endColorstr='#c40022', GradientType=0)
}

a.btg,
a.btr {
	display: inline-block;
	padding: 0 8px 1px;
	text-decoration: none
}


 
.top {
	border-bottom: 1px solid #e5e5e5;
	background: #f7f7f7
}

#mbmn a {
	color: #fff;
	display: block;
	line-height: 40px;
	padding: 0 10px;
	text-decoration: none
}

#mbmn a.act {
	background: #222
}

.hmbk {
	width: 50%;
	float: left;
	border-top: 1px solid #ddd
}

.hmdc {
	padding: 20px 10px 10px
}

@media(max-width:480px) {
	#mnct {
		display: none
	}
	.fs15 {
		font-size: 1.3rem
	}
	.hmbk {
		width: 100%
	}
}

.mob ul {
	background: #222;
	position: absolute;
	top: 40px;
	left: 10px;
	box-shadow: 0 4px 6px #777;
	z-index: 1000
}

.mob li {
	float: none;
	width: 150px;
	margin-right: 0
}

.hmim {
	width: 150px;
	height: 100px
}

.hmli {
	min-width: 200px
}

.hmpg {
	border-top: 1px solid #ddd;
	padding-top: 20px
}

.pglk {
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 10px
}

code {
	background: #f5f5f5;
	border: 1px solid #ddd;
	display: block;
	padding: 6px 10px
}

.adtp {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px
}

.admd {
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	padding: 10px 0;
	margin-top: 30px
}

.adbt {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 0
}

.bdtp {
	border-top: 1px solid #ddd;
	padding-top: 15px
}

#dlbl .lf {
	width: 75%
}

#dlbl .rg {
	width: 25%
}

table {
	display: block;
	border-spacing: 3px;
	width: 100%;
	overflow: hidden;
	margin-left: -3px
}

table thead {
	font-weight: bold;
	font-style: italic
}

table thead th {
	background: #c40000;
	padding: 3px 5px;
	color: #fff
}

table tbody td {
	background: #f5f5f5;
	padding: 5px
}

@media(max-width:480px) {
	table {
		font-size: .7rem
	}
}

select {
	padding: 3px
}

@media(max-width:767px) {
	#dlbl .lf,
	#dlbl .rg {
		float: none;
		width: 100%
	}
	#dlbl .rg img {
		display: inline-block;
		float: none
	}
}

pre .comment {
	color: #998
}

pre .support {
	color: #0086b3
}

pre .tag,
pre .tag-name {
	color: navy
}

pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
	font-weight: bold
}

pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
	color: #333
}

pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
	font-weight: normal;
	color: #099
}

pre .entity.class {
	color: #458
}

pre .entity.id,
pre .entity.function {
	color: #900
}

pre .attribute,
pre .variable {
	color: teal
}

pre .string,
pre .support.value {
	font-weight: normal;
	color: #d14
}

pre .regexp {
	color: #009926
}

.pgwSlideshow {
	width: 100%;
	background: #ddd;
	display: none;
	
}

.pgwSlideshow a {
	color: #fff
}

.pgwSlideshow .ps-current {
	text-align: center;
	position: relative;
	min-height: 150px;
	overflow: hidden;
	border-radius: 3px solid #D0CBCB;
}

.pgwSlideshow .ps-current>ul>li {
	text-align: center;
	width: 100%;
	z-index: 1;
	opacity: 0;
	display: block
}

.pgwSlideshow .ps-current>ul>li img {
	display: block;
	max-width: 100%;
	margin: auto
}

.pgwSlideshow .ps-caption {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
	text-align: left;
	font-size: 1rem;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	display: none
}

.pgwSlideshow .ps-caption span {
	padding: 7px;
	display: inline-block
}

.pgwSlideshow .ps-list {
	border-top: 1px solid #555;
	box-shadow: 0 10px 10px -5px #333 inset;
	background: #555;
	overflow: hidden;
	position: relative
}

.pgwSlideshow .ps-list ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0
}

.pgwSlideshow .ps-list li {
	float: left
}

.pgwSlideshow .ps-list li .ps-item {
	display: block;
	margin: 15px 8px;
	opacity: .6;
	filter: alpha(opacity=60)
}

.pgwSlideshow .ps-list li img {
	display: block;
	border: 1px solid #777;
	width: 80px;
	height: 80px
}

.pgwSlideshow .ps-list li .ps-item.ps-selected {
	float: left;
	opacity: 1;
	border: 4px solid #fff;
	overflow: hidden
}

.pgwSlideshow .ps-list li .ps-item.ps-selected img {
	margin: -4px
}

.pgwSlideshow .ps-prevIcon {
	border-color: transparent #fff transparent;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	display: block
}

.pgwSlideshow .ps-nextIcon {
	border-color: transparent #fff transparent;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	display: block
}

.pgwSlideshow .ps-current .ps-prev {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
	border: 1px solid #777;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	position: absolute;
	padding: 20px 20px 20px 15px;
	left: 0;
	top: 45%;
	cursor: pointer
}

.pgwSlideshow .ps-current .ps-next {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
	border: 1px solid #777;
	border-right: 0;
	border-radius: 4px 0 0 4px;
	position: absolute;
	padding: 20px 15px 20px 20px;
	right: 0;
	top: 45%;
	cursor: pointer
}

.pgwSlideshow .ps-list .ps-prev {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#bb000000', endColorstr='#bb000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";
	border: 1px solid #777;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	padding: 20px 15px 20px 12px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: 1000;
	display: none
}

.pgwSlideshow .ps-list .ps-next {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#bb000000', endColorstr='#bb000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";
	border: 1px solid #777;
	border-right: 0;
	border-radius: 4px 0 0 4px;
	padding: 20px 12px 20px 15px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 1000;
	display: none
}

.pgwSlideshow.narrow .ps-list li img {
	width: 60px;
	height: 60px
}

.pgwSlideshow.narrow .ps-current .ps-prev {
	padding: 15px 15px 15px 12px;
	top: 40%
}

.pgwSlideshow.narrow .ps-current .ps-next {
	padding: 15px 12px 15px 15px;
	top: 40%
}

.pgwSlideshow.narrow .ps-list .ps-prev {
	padding: 15px 12px 15px 10px;
	top: 20px
}

.pgwSlideshow.narrow .ps-list .ps-next {
	padding: 15px 10px 15px 12px;
	top: 20px
}

.pgwSlideshow.narrow .ps-caption {
	font-size: .8rem;
	padding: 8px
}

.pgwSlideshowLight {
	width: 100%;
	background: #ddd;
	display: none
}

.pgwSlideshowLight a {
	color: #fff
}

.pgwSlideshowLight .ps-current {
	text-align: center;
	position: relative;
	min-height: 150px;
	overflow: hidden
}

.pgwSlideshowLight .ps-current>ul>li {
	text-align: center;
	width: 100%;
	z-index: 1;
	opacity: 0;
	display: block
}

.pgwSlideshowLight .ps-current>ul>li img {
	display: block;
	max-width: 100%;
	margin: auto
}

.pgwSlideshowLight .ps-caption {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
	text-align: left;
	font-size: 1rem;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	display: none
}

.pgwSlideshowLight .ps-caption span {
	padding: 7px;
	display: inline-block
}

.pgwSlideshowLight .ps-list {
	border-top: 1px solid #aaa;
	box-shadow: 0 10px 10px -5px #999 inset;
	background: #ddd;
	overflow: hidden;
	position: relative
}

.pgwSlideshowLight .ps-list ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0
}

.pgwSlideshowLight .ps-list li {
	float: left
}

.pgwSlideshowLight .ps-list li .ps-item {
	display: block;
	margin: 15px 8px;
	opacity: .6;
	filter: alpha(opacity=60)
}

.pgwSlideshowLight .ps-list li img {
	display: block;
	border: 1px solid #aaa;
	width: 80px;
	height: 80px
}

.pgwSlideshowLight .ps-list li .ps-item.ps-selected {
	float: left;
	opacity: 1;
	border: 4px solid #fff;
	overflow: hidden
}

.pgwSlideshowLight .ps-list li .ps-item.ps-selected img {
	margin: -4px
}

.pgwSlideshowLight .ps-prevIcon {
	border-color: transparent #fff transparent;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	display: block
}

.pgwSlideshowLight .ps-nextIcon {
	border-color: transparent #fff transparent;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	display: block
}

.pgwSlideshowLight .ps-current .ps-prev {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
	border: 1px solid #777;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	position: absolute;
	padding: 20px 20px 20px 15px;
	left: 0;
	top: 45%;
	cursor: pointer
}

.pgwSlideshowLight .ps-current .ps-next {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
	border: 1px solid #777;
	border-right: 0;
	border-radius: 4px 0 0 4px;
	position: absolute;
	padding: 20px 15px 20px 20px;
	right: 0;
	top: 45%;
	cursor: pointer
}

.pgwSlideshowLight .ps-list .ps-prev {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#bb000000', endColorstr='#bb000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";
	border: 1px solid #777;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	padding: 20px 15px 20px 12px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: 1000;
	display: none
}

.pgwSlideshowLight .ps-list .ps-next {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#bb000000', endColorstr='#bb000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";
	border: 1px solid #777;
	border-right: 0;
	border-radius: 4px 0 0 4px;
	padding: 20px 12px 20px 15px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 1000;
	display: none
}

.pgwSlideshowLight.narrow .ps-list li img {
	width: 60px;
	height: 60px
}

.pgwSlideshowLight.narrow .ps-current .ps-prev {
	padding: 15px 15px 15px 12px;
	top: 40%
}

.pgwSlideshowLight.narrow .ps-current .ps-next {
	padding: 15px 12px 15px 15px;
	top: 40%
}

.pgwSlideshowLight.narrow .ps-list .ps-prev {
	padding: 15px 12px 15px 10px;
	top: 20px
}

.pgwSlideshowLight.narrow .ps-list .ps-next {
	padding: 15px 10px 15px 12px;
	top: 20px
}

.pgwSlideshowLight.narrow .ps-caption {
	font-size: .8rem;
	padding: 8px
}