@charset "utf-8";

/*----------------------------
	i.-- font/imports
	-----------------------------*/
@font-face {
	font-family: 'Jenna Sue';
	src: url('../_fonts/jennasue-webfont.eot');
	src: url('../_fonts/jennasue-webfont.eot?#iefix')
		format('embedded-opentype'), url('../_fonts/jennasue-webfont.woff')
		format('woff'), url('../_fonts/jennasue-webfont.ttf')
		format('truetype'),
		url('../_fonts/jennasue-webfont.svg#AsapRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*----------------------------
	ii.-- general
	-----------------------------*/
* {
	margin: 0px;
	padding: 0px;
}

html, body, div, h1, h2, h3, ul, ol, li, dt, p, table, th, td, img {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	width: 100%;
	height: 100%;
	background: #000000 url(../_images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size : cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #2f2f2f;
	font-weight: normal;
	font-style: normal;
	-webkit-background-size: cover;
}

a:link, a:hover, a:visited {
	color: #2f2f2f;
	text-decoration: none;
}

.rotate {
	-o-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
}

.social {
	margin: 50px auto;
	width: 408px;
	padding-bottom: 50px;
}

.social-icons {
	display: block;
	height: 48px;
}

.social-icons li {
	display: inline-block;
	margin-left: 6px;
}

@media screen and (min-width:802px) {
	/* 800+ resolution */
	.controller {
		width: 800px;
		margin: auto;
	}
	.objects {
		width: 100%;
		height: 550px;
		background: url(../_images/objects.png) no-repeat center center;
	}
	.text-area {
		width: 300px;
		padding-top: 180px;
		margin-left: 40px;
		text-align: center;
	}
	.error {
		font: 86px Jenna Sue, Helvetica, Arial, sans-serif;
	}
	.details, .homepage {
		font: 42px Jenna Sue, Helvetica, Arial, sans-serif;
	}
	.homepage {
		background: url(../_images/home.png) no-repeat;
		padding-left: 50px;
		float: right;
		right: 45px;
		top: -50px;
		position: relative;
		text-align: center;
	}
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
/*
	This is not legal version, preview only mode. If you're using this one, you're just fucking cheap. Seriously, It's about 5$, can't you afford it?
*/
@media screen and (min-width:602px) and (max-width:801px) {
	/* 800- resolution */
	.controller {
		width: 600px;
		margin: auto;
	}
	.objects {
		width: 100%;
		height: 523px;
		background: url(../_images/objects.png) no-repeat center center;
	}
	.text-area {
		width: 240px;
		padding-top: 180px;
		margin-left: 30px;
		text-align: center;
	}
	.error {
		font: 86px Jenna Sue, Helvetica, Arial, sans-serif;
	}
	.details, .homepage {
		font: 42px Jenna Sue, Helvetica, Arial, sans-serif;
	}
	.homepage {
		background: url(../_images/home.png) no-repeat;
		padding-left: 50px;
		float: right;
		right: 25px;
		top: -50px;
		position: relative;
		text-align: center;
	}
}

@media screen and (min-width:0px) and (max-width:601px) {
	/* 600- resolution */
	.controller {
		width: 360px;
		margin: auto;
	}
	.objects {
		width: 100%;
		height: 503px;
		background: url(../_images/objects.png) no-repeat center center;
	}
	.text-area {
		width: 200px;
		padding-top: 220px;
		margin-left: 10px;
		text-align: center;
	}
	.error {
		font: 56px Jenna Sue, Helvetica, Arial, sans-serif;
	}
	.details, .homepage {
		font: 32px Jenna Sue, Helvetica, Arial, sans-serif;
	}
	.homepage {
		background: url(../_images/home.png) no-repeat;
		padding-left: 35px;
		float: right;
		right: 20px;
		top: -50px;
		position: relative;
		text-align: center;
	}
}